name: Release

on:
  push:
    tags:
      - "**.**.**"

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
          registry-url: 'https://registry.npmjs.org'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - run: yarn
      - run: yarn workspace @shared-service/core update-version
        env:
          PACKAGE_VERSION: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: yarn workspace @shared-service/react update-version
        env:
          PACKAGE_VERSION: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: npm publish
        working-directory: packages/core
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm publish
        working-directory: packages/react
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}